asgiref==3.4.1
backports.entry-points-selectable==1.1.0
distlib==0.3.3
Django==3.2.8
django-crispy-forms==1.13.0
filelock==3.3.0
ImageFilter==0.1.0
numpy==1.21.2
Pillow==8.3.2
platformdirs==2.4.0
pytz==2021.3
scipy==1.7.1
sqlparse==0.4.2
